body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif; /* Use template */
  overflow-y: hidden;
  overflow-x: hidden;
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

